In [1]:
import os
import pandas as pd
import numpy as np
import uuid

In [2]:
_DATA_PATH = '../data'
_RESOURCE_PATH = '../resource'

In [3]:
# df_data_labeling = pd.read_csv(os.path.join(_DATA_PATH,'data-QA.csv'))
df_data_labeling = pd.read_csv(os.path.join(_DATA_PATH,'title.csv'))
df_data_labeling

                                                  title
0                   Nguyên nhân gây đau hàm, méo miệng?
1         Điều trị não bộ sau xạ trị dị dạng động mạch?
2                 Tác dụng phụ của thuốc Parokey là gì?
3     Phương pháp điều trị dứt điểm viêm tai xương c...
4     Đang cho con bú có được dùng thuốc Thephamox 5...
...                                                 ...
9040  Có rất nhiều quan điểm trong chế độ ăn uống ch...
9041         Nguyên nhân gây ung thư là gì thưa bác sỹ?
9042               Ung thư có yếu tố di truyền không ạ?
9043  Nhiều người cho rằng ung thư chính là “Bản án ...
9044  Hiện nay tôi được biết Bệnh viện đa khoa tỉnh ...

[9045 rows x 1 columns]

In [4]:
# del df_data_labeling['Unnamed: 0']

In [5]:
# df_data_labeling = df_data_labeling.rename(columns={'question':'Câu hỏi'})
df_data_labeling = df_data_labeling.rename(columns={'title':'Câu hỏi'})

In [6]:
df_data_labeling[['Câu hỏi']].head(1)

                               Câu hỏi
0  Nguyên nhân gây đau hàm, méo miệng?

In [7]:
len(list(set(list(df_data_labeling['Câu hỏi']))))

9039

In [8]:
df_data_labeling = df_data_labeling.drop_duplicates()
len(df_data_labeling)

9039

In [9]:
start_point = 0
num_record = 11
# space = 1600
space = 900
tasks = ['row_based_may19','token_based_may19']
len_id = len(str(len(df_data_labeling)))

list_des = []

for task in tasks:
    folder_task = os.path.join(_RESOURCE_PATH,task)
    if not os.path.isdir(folder_task):
        os.mkdir(folder_task)
        
    if task == 'row_based_may19':
        extension = '.csv'
    else:
        extension = '.txt'
        
    for idx in range(num_record):
        
        dict_des = {}
        
        if idx < num_record - 1:
            
            start = idx*space
            end = (idx+1)*space
            
            curr_df = df_data_labeling[start:end]
            

            start_str = str(start)
            if len(start_str) < len_id:
                start_str = '0'*(len_id-len(start_str)) + start_str
            
            end_str = str(end)
            if len(end_str) < len_id:
                end_str = '0'*(len_id-len(end_str)) + end_str
            
            task_id = task[0]+start_str[:-2]+end_str[:-2]
            
            trace = str(idx*space)+'_'+str((idx+1)*space)
            
            dict_des['task'] = task
            dict_des['_id'] = task_id
            dict_des['index'] = trace
            
            list_des.append(dict_des)

            if task == 'row_based_may19':
                curr_df[['Câu hỏi']].to_csv(os.path.join(folder_task,task_id + extension),header=True,index=False)
            else:
                curr_df[['Câu hỏi']].to_csv(os.path.join(folder_task,task_id + extension),header=False,index=False)
        else:
            curr_df = df_data_labeling[idx*space:]     
            
            start = idx*space
            end = len(df_data_labeling)
            
            curr_df = df_data_labeling[start:end]
            

            start_str = str(start)
            
            end_str = str(end)

            task_id = task[0]+start_str[:-2]+end_str[:-2]
            
            trace = str(idx*space)+'_'+str(len(df_data_labeling))
            
            dict_des['task'] = task
            dict_des['_id'] = task_id
            dict_des['index'] = trace
            
            list_des.append(dict_des)
            if task == 'row_based':
                curr_df[['Câu hỏi']].to_csv(os.path.join(folder_task,task_id + extension),header=True,index=False)
            else:
                curr_df[['Câu hỏi']].to_csv(os.path.join(folder_task,task_id + extension),header=False,index=False)

In [10]:
df_des = pd.DataFrame(list_des)
df_des.to_csv(os.path.join(_RESOURCE_PATH,'project_labeling_tracking_may19.csv'),header=True,index=False)

In [11]:
df_des

                 task    _id      index
0     row_based_may19  r0009      0_900
1     row_based_may19  r0918   900_1800
2     row_based_may19  r1827  1800_2700
3     row_based_may19  r2736  2700_3600
4     row_based_may19  r3645  3600_4500
5     row_based_may19  r4554  4500_5400
6     row_based_may19  r5463  5400_6300
7     row_based_may19  r6372  6300_7200
8     row_based_may19  r7281  7200_8100
9     row_based_may19  r8190  8100_9000
10    row_based_may19  r9090  9000_9039
11  token_based_may19  t0009      0_900
12  token_based_may19  t0918   900_1800
13  token_based_may19  t1827  1800_2700
14  token_based_may19  t2736  2700_3600
15  token_based_may19  t3645  3600_4500
16  token_based_may19  t4554  4500_5400
17  token_based_may19  t5463  5400_6300
18  token_based_may19  t6372  6300_7200
19  token_based_may19  t7281  7200_8100
20  token_based_may19  t8190  8100_9000
21  token_based_may19  t9090  9000_9039